:root {
  --sms77-color-alt: #52c0fa;
  --sms77-color-main: #18D46A;
  --sms77-color-red: red;
  font-family: 'Roboto', sans-serif;
}

@mixin alert() {
  background: var(--sms77-color-red);
  border-color: var(--sms77-color-red);
}

.sms77-btn {
  background: var(--sms77-color-alt);
  border-color: var(--sms77-color-alt);
  border-radius: .2em;
  box-shadow: 0 0 0 rgba(0, 0, 0, .2);
  color: #ffffff;
  display: inline-block;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 1.2;
  padding: .5em .75em;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: background 0.3s, border-color 0.3s, box-shadow 0.3s, opacity 0.3s, color 0.3s;
  vertical-align: top;

  &:disabled {
    cursor: not-allowed;
    @include alert();
  }

  &.alert {
    @include alert();
  }
}